.user-list-action-btn {
  margin-right: 5px;
}

.user-list-add-user-link {
  font-size: 0.6em;
  margin-bottom: 16px;
}

.table-actions-header {
  min-width: 120px;
}

.twittContainer {
  margin-bottom: 13px;
}
